<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Startrise</title>
</head>
<body style="text-align: center;font-family: sans-serif">
        <img src="https://img.freepik.com/free-vector/invite-concept-illustration_114360-477.jpg?w=740&t=st=1694409872~exp=1694410472~hmac=2e3deb50a97264b7eb859680f18520fa21e111ec56d7747672ceb72a700c4a2b" />
        <h1 style="font-size: 36px">Verify your email address</h1>
        <p style="font-size: 18px">You've entered <span style="font-size: 20px;font-weight: bold;text-decoration: none">{{ email }}</span> as the email address for your account .</p>
        <p style="font-size: 18px;display:block;">Please verify this email address by clicking button below</p>
        <a style="display:block;width: fit-content ;text-decoration: none;font-size: 28px;background-color: cornflowerblue;color: white;padding: 20px;margin:10px auto;border-radius: 15px" href="{{ link }}">
            Verify your email
        </a>
        <p style="font-size: 18px">Or cory and paste this link into your browser</p>
        <a style="font-size: 18px" href="{{ link }}">{{ link }}</a>

</body>
</html>